.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.counterContainer {
  background: #132433;
  padding: 16px;
  margin: auto;
  width: 60%;
  backdrop-filter: blur(3px);
}
.timer {
  display: inline-block;
  font-size: 32px;
  margin: 8px;
}
.title {
  color: #f5ddcc;
  margin: 2px;
}
.timerContainer {
  font-size: 0;
  color: #f5ddcc;
}
